@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6, td, span{
  color: #1E1B39;
}
body, h1,h2,h3,h4,h5,h6,p,span,a,button{
  font-family: "Jost", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar-nav ul li a span{
  color: #fff;
}
.hdr-box{
  height: 20px;
  display: block;
  width: 20px;
  background: transparent;
  border: 1px solid #EBEDF0;
  border-radius: 6px;
}
.leads td .user-icon{
  width: 40px;
  height: 38px;
  border-radius: 12px;
  display: inline-block;
}
.leads td .user-icon img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.leads .user{
  display: flex;
  gap: 12px;
  align-items: center;
}
.orders tr td, .leads tr td{
  font-size: 14px;
}

.leads, .orders {
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
.company, .individual{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #A1A1A1;
  border-radius: 12px;
  padding: 22px 40px;
  color: #A1A1A1;
  font-size: 20px;
  cursor: pointer;
}
.company.active, .individual.active{
background:#fddba74f;
color: #FBB040;
border-color: #FBB040;
}
.business-select{
  background-color: #fff;
  border-radius: 20px;
  width: 35%;
}
.business-select h2{
  color: #282828;
  font-size: 24px;
  font-weight: 500;
}
.business-select p{
  color: #949CA9;
  font-size: 14px;
  font-weight: 400;
}
.business-type p{
  font-size: 18px;
}
.business-type svg{
  font-size: 30px;
}
.business-select .btn-next{
  width: 100%;
  background: #FBB040;
  border-radius: 100px;
  padding: 12px;
  cursor: pointer;
  color: #fff;
}
.company-details-form label{
  color: #121212;
  font-size: 14px;
  
}
.company-details-form input{
  color: #121212;
  font-size: 14px;
  border-color: #F5F6FA;
  background-color: #bbc4e90f;
}
.company-details-form input::placeholder{
  color: #A8AEBF;
  font-size: 14px;
}
.upload-section p{
  color: #0B0B0B;
  font-size: 14px;
}
.upload-section p span{
  font-weight: 600;
}
.upload-section .limit{
  color: #6D6D6D;
}
.uploads .text {
  color: #6D6D6D;
  font-size: 14px;
}
.calender{
  color: #0E0E0E;
  font-size: 12px;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  padding: 8px;
}